# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/hashicorp/
terraform/registry.terraform.io/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
docker-data/

# Local caches and secrets
*.local
secrets/
jars/
